/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-primary: #84714F;
    --color-primary-light: #F3E8D9;
    --color-primary-dark: #7C4D00;
    --color-secondary: #31231E;
    --color-secondary-light: #B18E81;
    --color-secondary-dark: #0D0908;
    --color-accent: #A8D025;
    --color-accent-light: #CCE774;
    --color-accent-dark: #38450C;
}

:root {
  --header-height: 75px; /* Adjust to your actual header height */
  --safe-top: env(safe-area-inset-top);
  --safe-bottom: env(safe-area-inset-bottom);
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100dvh; /* ensure content is taller than screen */
  -webkit-overflow-scrolling: touch; /* smooth momentum scrolling */
}
