@if (isLoading(); as isLoading) {
<main class="h-full flex flex-col items-center justify-center md:justify-start p-6">
  <div class="text-center space-y-8">
    <!-- Animated Logo/Icon -->
    <!-- <div class="relative">
      <div class="w-16 h-16 mx-auto mb-4">
        <div class="w-16 h-16 animate-pulse">
          <img src="assets/main_logo.svg" alt="logo" class="absolute inset-0 m-auto size-8" />
        </div>
      </div>
    </div> -->

    <!-- Loading Text -->
    <!-- <div class="space-y-2">
    <h2 class="text-2xl font-bold text-text-primary">Loading</h2>
    <p class="text-text-secondary">Please wait...</p>
  </div> -->

    <!-- Animated Dots -->
    <div class="flex flex-row items-center justify-center space-x-2">
      <h1 class="text-3xl font-medium mb-4">{{ customMessage }}</h1>
      <div class="w-2 h-2 dark:bg-white rounded-full animate-bounce">
        <img src="assets/main_logo.svg" alt="logo" class="absolute inset-0 m-auto size-auto" />
      </div>
      <div class="w-2 h-2 dark:bg-white rounded-full animate-bounce" style="animation-delay: 150ms;">
        <img src="assets/main_logo.svg" alt="logo" class="absolute inset-0 m-auto size-auto" />
      </div>
      <div class="w-2 h-2  dark:bg-white rounded-full animate-bounce" style="animation-delay: 300ms;"><img
          src="assets/main_logo.svg" alt="logo" class="absolute inset-0 m-auto size-auto" /></div>
      <div class="w-2 h-2 dark:bg-white rounded-full animate-bounce" style="animation-delay: 450ms;"><img
          src="assets/main_logo.svg" alt="logo" class="absolute inset-0 m-auto size-auto" /></div>
      <div class="w-2 h-2 dark:bg-white rounded-full animate-bounce" style="animation-delay: 600ms;"><img
          src="assets/main_logo.svg" alt="logo" class="absolute inset-0 m-auto size-auto" /></div>
    </div>
  </div>

  <button class="mt-8 px-4 py-2 bg-accent text-white rounded hover:bg-accent-dark" (click)="toggleLoading()">
    Toggle Loading
  </button>
</main>
}